
menubox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.menu-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
    width: 100%;
    max-width: 500px;
    border-color: black;
    border-width: 2px;
    border-style: dashed;
}

menubutton:hover,
menubutton:focus {
    background: #a1b0ba;
    cursor: pointer;
}