/* .search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.file-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.module-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}
.card {
    border: 1px solid rgb(173, 173, 173);
    background-color: white;
    padding: .5rem;
    cursor: pointer;
}

.card > .header {
    margin-bottom: .25rem;
}

.card > .body {
    font-size: .8rem;
    color: #777;
}

.card > .type {
    font-size: .8rem;
    color: #777;
}

.card > .preview {
    font-size: .8rem;
    color: #2822d6;
    text-decoration: underline;
}


.hide {
    display: none;
} */